@{
    ViewBag.Title = "Bookie | Home";
}

<div class="jumbotron">
    <h1>Bookie</h1>
    <p class="lead">Bookie is an app for managing customers, books and loans at a library.<br />
    Note: The returns tab and new loan form use autocomplete for selection.</p>
</div>

<div class="row">
    <div class="col-lg-4 index">
        <h2>Basic functionality</h2>
        <p>
            Use the demo guest account or register with email / log in with facebook in order to see a list of all books and customers, and be able to loan and return books.
        </p>
    </div>
    <div class="col-lg-4 index">
        <h2>Admin functions</h2>
        <p>
            Use the demo admin account in order to add new books and customers, and be able to edit existing ones.
        </p>
    </div>
    <div class="col-lg-4 index">
        <h2>Demo accounts</h2>
        <p>
            Guest:<br />
            Account: guest@bookie.com |
            Password: Bookie5%
        </p>
        <p>
            Admin:<br />
            Account: admin@bookie.com |
            Password: Admin5%
        </p>
    </div>
</div>